// Reset Infima styles
:global .monaco-editor {
    .button {
        background-color: inherit;
        border: inherit;
        box-sizing: inherit;
        color: inherit;
        cursor: inherit;
        display: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        outline: inherit;
        padding: inherit;
        text-align: inherit;
        text-decoration: inherit;
        transition: inherit;
        user-select: inherit;
        vertical-align: inherit;
        white-space: inherit;
    }

    .contents {
        list-style-type: inherit;
        font-size: inherit;
        margin-bottom: inherit;
        padding-bottom: inherit;
        padding-top: inherit;
    }
}

$navbar-height: 50px;

.navbar {
    border-bottom: 1px var(--monaco-accent) solid;
    width: 100%;
    height: $navbar-height;
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarVersions {
    line-height: 1.25;
    font-size: 14px;
    font-family: monospace;
}

.navBarPanelSelection {
    display: none;
    padding-right: 12px;
}

.content {
    width: 100%;
    height: calc(100vh - var(--ifm-navbar-height) - #{$navbar-height});
    display: flex;
    flex-wrap: wrap;
}

.contentPane {
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column;
    position: relative;
    background-color: var(--monaco-background);
}

$output-height: 180px;

.outputEditor {
    height: calc(100% - #{$output-height});
}

.outputControls {
    position: absolute;
    top: 1em;
    right: 2em;
    display: flex;
    flex-flow: column;

    > *:not(:last-child) {
        margin-bottom: 5px;
    }
}

.luaOutput {
    border-top: 1px var(--monaco-accent) solid;
    height: $output-height;
    font-family: Menlo, Monaco, "Lucida Console", "Courier New", monospace;
    display: flex;
}

.luaOutputLineNumbers {
    width: 40px;
    height: 100%;
    border-right: 1px var(--monaco-accent) solid;
    padding-top: 6px;
    padding-left: 10px;
}

.luaOutputTerminal {
    width: 100%;
    overflow-y: auto;
}

@media only screen and (max-width: 996px) {
    .content {
        flex-flow: column;
    }

    .navBarPanelSelection {
        display: block;
    }

    .contentPane {
        width: 100%;
    }

    .contentPaneHiddenMobile {
        display: none;
    }

    .outputControls {
        top: 0.5em;
        right: 1em;
        * {
            --ifm-button-size-multiplier: 0.8;
        }
    }
}

@media only screen and (max-width: 400px) {
    .navbar {
        justify-content: center;
    }

    .navbarVersions {
        display: none;
    }
}

@media only screen and (max-height: 768px) {
    $output-height-mobile-medium: 140px;

    .outputEditor {
        height: calc(100% - #{$output-height-mobile-medium});
    }

    .luaOutput {
        height: $output-height-mobile-medium;
    }

    $navbar-height-small: 42px;

    .navbar {
        height: $navbar-height-small;
    }

    .content {
        height: calc(100vh - var(--ifm-navbar-height) - #{$navbar-height-small});
    }

    .navbar {
        * {
            --ifm-button-size-multiplier: 0.9;
        }
    }
}

@media only screen and (max-height: 600px) {
    $output-height-mobile-small: 120px;

    .outputEditor {
        height: calc(100% - #{$output-height-mobile-small});
    }

    .luaOutput {
        height: $output-height-mobile-small;
    }
}
