<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <div id="logo">
            <img class="logo-element" id="logo-ts" src="<%= require('../images/typescript_logo.svg') %>"/>
            <div class="logo-element" id="logo-spacer">{to}</div>
            <img class="logo-element" id="logo-lua" src="<%= require('../images/lua_logo.svg') %>"/>
        </div>
        <!--<div id="headline">
            A Typescript to Lua Transpiler.
        </div>-->
    </div>
    <div id="content">
        <div id="example">
            <div id="example-ts" class="example-element">
            </div>
            <div id="example-lua" class="example-element">
            </div>
            <!--<div id="example-control" class="example-element">
                RUN
            </div>-->
            <div id="example-output" class="example-element">
                Output
            </div>
        </div>
    </div>
    
</body>
</html>